html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    line-height: 2;
}

h1,h2,h3{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
.u-full-width {
    width: 100%;
}


/* Header inicio */
header h1{
    font-size: 6rem;
    font-weight: bold;
}
svg{
    width: 2rem;
    color: #000;
}

/* Carrito inicio */
.submenu {
    position: relative;
}
.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 400px;
}
.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}
.button:hover{
    color: #555;
}
.borrar-producto {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Carrito final */

.hero{
    background-image: url(../img/idea_2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 77.6vh
}
/* Header final */

/* Main inicio */
.contenedor-cards {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}
.hacer h2{
    text-align: center;
    padding-top: 7rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
}
.hacer .sub{
    border-bottom: 2px solid #CFBF34;
}
.card_body{
    padding: 2rem;
}
.card_body h3{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.card_body p{
    font-size: 2rem;
    font-weight: 700;
}


.card_precio{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_precio p{
    margin: 0;
}
.card_precio a{
    text-decoration: none;
    color: #000;
    margin-left: 1rem;
    padding: .5rem;
}
/* Main final */